<footer class="bg-gray-900 text-white p-6">
    <div
        class="container mx-auto flex flex-col items-center gap-4 sm:flex-row sm:justify-between sm:gap-0"
    >
        <!-- Copyright Information -->
        <p class="text-center sm:text-left">
            &copy; 2024 Portside Digital. All rights reserved.
        </p>

        <!-- Contact and Social Links Section -->
        <div class="flex flex-col sm:flex-row items-center gap-4 sm:gap-8">
            <div class="text-center sm:text-left">
                <p>Southampton, UK</p>
                <p>+44 207 0605 075</p>
            </div>
            <div class="flex gap-4 justify-center">
                <a
                    href="https://www.linkedin.com/company/portside-digital/?viewAsMember=true"
                >
                    <img
                        src="linkedin-green.png"
                        class="w-6 rounded cursor-pointer"
                        alt="Portside Digital linkedin"
                    />
                </a>

                <a href="https://x.com/portsidedig">
                    <img
                        src="twitter-green.png"
                        class="w-6 rounded cursor-pointer"
                        alt="Portside Digital Twitter"
                    />
                </a>
            </div>
        </div>

        <!-- Legal Links -->
        <div
            class="flex flex-col sm:flex-row gap-4 justify-center sm:justify-end"
        >
            <a href="#" class="hover:text-gray-400">Privacy Policy</a>
            <a href="#" class="hover:text-gray-400">Terms of Service</a>
            <a href="#" class="hover:text-gray-400">Cookie Policy</a>
        </div>
    </div>
</footer>
